$boyColor: #666;
$girColor: #f093fb;
$blueBackground: linear-gradient(
  to right,
  rgba(106, 17, 203, 1),
  rgba(37, 117, 252, 1)
);
$pinkBackground: linear-gradient(
  to bottom right,
  rgba(240, 147, 251, 1),
  rgba(245, 87, 108, 1)
);
